@font-face {
    src: url('./assets/Fonts/San-Francisco-Pro-Fonts-master/SF-Pro.ttf');
    font-family: 'SF Pro';
    font-weight: normal;
    font-style: normal;
}

:root {
    --dc-primary: #42424;
    --dc-text-primary: #4E4E4E;
    --dc-secondary: #FFC331;
    --dc-primary-font: 'SF Pro';
}

body {
    font-family: 'SF Pro';
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}



@keyframes slideLeftToRight {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(100%)
    }
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-100%)
    }
}

header .nav-item {
    margin-left: 10px;
    margin-right: 10px
}

header .nav-item .nav-link {
    color: #242424;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.hero-land h1 {
    color: #242424;
    text-align: center;
    font-family: "SF Pro";
    font-size: 54px;
    font-weight: 700;
    line-height: normal
}

.cst-get-in-tout-btn,
.cst-talk-on-wh-btn,
.hero-land p {
    text-align: center;
    font-family: "SF Pro";
    font-weight: 400;
    line-height: normal
}

.hero-land h1,
.hero-land p {
    font-style: normal;
    text-transform: lowercase
}

.hero-land p {
    color: #4e4e4e;
    font-size: 24px
}

.cst-get-in-tout-btn,
.cst-talk-on-wh-btn {
    border: 1px solid #242424;
    padding: 16px;
    border-radius: 0
}

.cst-get-in-tout-btn {
    color: #fff;
    background: #242424;
    text-transform: uppercase
}

.cst-get-in-tout-btn:hover {
    background-color: #ffc331;
    color: #000;
    border: 1px solid #ffff
}

.cst-talk-on-wh-btn {
    background: #fff;
    color: #242424;
    font-size: 16px;
    font-style: normal
}

.cst-talk-on-wh-btn:hover,
.sec-bg h2,
.sec-bg p {
    color: #242424;
    font-weight: 500;
    line-height: normal
}

.cst-talk-on-wh-btn:hover {
    background-color: #25d366;
    border: 1px solid #25d366;
    font-weight: 600;
}

.left-img-cst-df {
    background-image: url(/src/assets/Images/Rectangle34625145.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px
}

.about-design-section,
.about-design-section .card-body,
.sec-bg {
    background-color: #ffc331
}

.sec-bg h2,
.sec-bg p {
    width: 442px;
    font-family: "SF Pro";
    font-style: normal;
    text-transform: lowercase
}

.sec-bg p {
    width: 475px;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400
}

.about-design-section .card-body:hover {
    background-color: #ffff
}

.card {
    border-radius: 0;
    border: 1px solid #242424
}

.card-body hr {
    color: #000
}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%
}

.carousel-row {
    display: flex;
    position: relative;
    white-space: nowrap
}

.carousel-row.left-to-right {
    animation: slideLeftToRight 30s linear infinite
}

.carousel-row.right-to-left {
    animation: slideRightToLeft 30s linear infinite
}

.card-container {
    flex: 0 0 33.33%;
    padding: 10px
}

.cst-card-horizo,
.cst-card-horizo h5 {
    max-width: 600px
}

.card h5 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 0
}

.cst-card-horizo:hover {
    background-color: #ffc331
}

.accordion {
    background-color: #fff
}

.accordion,
.panel {
    text-align: left
}

.cst-card-pricing p {
    font-weight: 500;
    color: #817575
}

.cst-card-pricing ul,
.cst-card-pricing-bg-blue ul {
    font-weight: 600;
    margin: 0;
    padding: 0
}

.cst-card-pricing h6,
footer h5 {
    font-weight: 600;
    font-size: 16px
}

.cst-card-pricing span {
    font-weight: 600;
    color: #656565
}

.cst-card-pricing-bg-blue p,
.main-card-core-team-cst h6 {
    font-weight: 500;
    color: #fff
}

.cst-card-pricing-bg-blue ul {
    list-style: none;
    color: #fff
}

.cst-card-pricing-bg-blue span,
.main-card-core-team-cst h4 {
    font-weight: 600;
    color: #fff
}

.div-desktop-and-mobile {
    justify-content: start
}

.div-desktop-and-mobile p {
    font-weight: 600;
    color: #5b5b5b
}

.accordion-main-div,
.accordion-main-div.active {
    border: 2px solid #000 !important;
    border-radius: 0;
    margin: 10px
}

.accordion-main-div.active {
    border: 2px solid #371b89 !important
}

.accordion,
.panel p {
    font-family: "SF Pro";
    font-style: normal
}

.accordion {
    cursor: pointer;
    padding: 16px;
    width: 100% !important;
    border: 0;
    outline: 0;
    color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase
}

.panel p {
    color: #302d44;
    font-size: 20px;
    font-weight: 500
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden
}

.accordion-seprate-x:after {
    content: "+";
    font-weight: 700;
    font-size: 28px
}

.accordion-seprate-x.active:after {
    content: "-";
    font-weight: 700
}

.accordion-body h5,
.accordion-body p,
.accordion-body span,
.accordion-body ul {
    font-family: Work Sans;
    font-weight: 400
}

.cst-text-accordian-two {
    gap: 30px
}

.list-group-item-action,
.list-group-item-action:hover {
    background-color: transparent;
    border: 0
}

.list-group-item {
    display: flex;
    height: 100%;
    gap: 16px;
    margin-top: 10px !important
}

.accordion-main-div.active,
.accordion-seprate-x.active,
.footer-section,
.panel {
    background-color: #ffc331
}

.copyright-text,
.footer-text-para {
    color: #4e4e4e;
    font-weight: 400;
    text-transform: lowercase
}

.copyright-text {
    font-style: normal;
    line-height: normal
}

footer h5 {
    color: #242424;
    font-weight: 700;
    margin-bottom: 22px
}

.footer-section ul li a {
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px
}

.footer-section ul li a:hover {
    color: #4e4e4e
}

.email-cst-footer {
    font-weight: 600;
    color: #000 !important
}

.section-got-an-idea h1 {
    margin-bottom: 20px
}

.digital-product-sections p,
.section-got-an-idea p {
    color: #4e4e4e;
    text-align: center;
    font-size: 24px;
    font-weight: 400
}

.digital-product-sections h1,
.footer-section ul li a,
.section-got-an-idea h1,
footer h5 {
    font-family: "SF Pro";
    font-style: normal;
    line-height: normal;
    text-transform: lowercase
}

.digital-product-sections h1,
.section-got-an-idea h1 {
    color: #242424;
    text-align: center;
    font-weight: 700
}

.carousel-row .card {
    border-radius: 0
}

.about-design-section h1 {
    font-size: 40px
}

.about-design-section h2,
.about-design-section p,
.digital-product-sections p,
.section-got-an-idea p {
    font-family: "SF Pro";
    font-style: normal;
    line-height: normal;
    text-transform: lowercase
}

.about-design-section h2 {
    align-self: stretch;
    color: #000;
    font-size: 32px;
    font-weight: 700
}

.about-design-section p {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 400
}

.about-design-section h1,
.companies-logo-section h1,
.companies-logo-section p {
    color: #242424;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase
}

.companies-logo-section h1,
.companies-logo-section p,
.service-page-hero-sec h1 {
    text-align: center
}

.companies-logo-section p {
    color: #4e4e4e;
    font-size: 24px;
    font-weight: 400
}

.landing-page-hero-sec {
    height: calc(100vh - 150px)
}

.display-buttons {
    display: flex;
    justify-content: center;
    gap: 20px
}

header .nav-item:hover {
    position: relative
}

header .nav-item a:hover {
    text-decoration: underline;
    font-weight: 600
}

footer .nav-item a:hover {
    text-decoration: underline;
    font-weight: 600
}

header .nav-link .active {
    font-weight: 600;
}

header .nav-item a:hover::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%
}

.service-page-hero-sec h1 {
    color: #242424;
    font-size: 54px;
    font-weight: 100
}

.service-page-hero-sec {
    height: calc(100vh - 0px)
}

.cst-div-width {
    width: 50%
}

.actionable-design-section .container,
.design-solutions-section,
.our-value-section .container,
.talk-expert-section {
    background-color: #ffc331
}

.display-contain-talk-expert,
.display-founder-images {
    display: flex;
    justify-content: center;
    gap: 20px
}

.display-founder-images {
    gap: 80px
}

input[type=text] {
    border: 0;
    border-bottom: 2px solid #cdcdcd
}

input[type=text]:visited {
    border: 0
}

.cst-input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid red
}

.about-design-section span {
    text-align: center;
    font-size: 16px;
    line-height: normal
}

.desktop-image {
    display: block
}

.mobilelogo-image {
    display: none
}

.actionable-design-section h1,
.leaders-section h1,
.our-value-section h1,
.reserch-design-build-section h1 {
    color: #242424;
    text-align: center;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase
}

.about-design-section span,
.our-value-section p,
.our-value-section span {
    color: #4e4e4e;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase
}

.our-value-section p {
    text-align: center;
    font-size: 24px;
    line-height: 32px
}

.our-value-section h5 {
    width: 80%
        /* width: 70% */
}

.our-value-section span {
    line-height: normal
}

.grid-container {
    display: grid;
    /* gap: 70px; */
    gap: 20px;
    justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding: 10px;
    justify-content: end;
    margin-right: 46px;
}

.grid-item {
    padding: 20px;
    position: relative
}

.grid-container-for-actionable-design-section {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding: 10px
}

.grid-item-for-actionable-design-section {
    position: relative
}

.cst-hight-hr {
    display: flex;
    position: absolute;
    height: 80%;
    width: 1px;
    left: 10px;
    background-color: #000
}

.actionable-design-section p,
.contact-us-section p,
.faq-para,
.leaders-section p,
.reserch-design-build-section p {
    color: #4e4e4e;
    text-align: center;
    font-family: "SF Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase
}

.actionable-design-section h5,
.our-value-section h5,
.reserch-design-build-section h5,
.talk-to-our-expert-section h2 {
    color: #242424;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase
}

.actionable-design-section span,
.reserch-design-build-section span {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400;
    width: 310px;
    display: block
}

.actionable-design-section span,
.contact-us-section h1,
.reserch-design-build-section span,
.talk-to-our-expert-section p {
    font-family: "SF Pro";
    font-style: normal;
    line-height: normal;
    text-transform: lowercase
}

.contact-us-section h1 {
    color: #242424;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}

.talk-to-our-expert-section p {
    color: #4e4e4e;
    font-weight: 500;
}

.navbar-toggler {
    all: unset;
    cursor: pointer
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: 0;
    box-shadow: none
}

.navbar-toggler .header-close,
.navbar-toggler.collapsed .header-open {
    display: none
}

.navbar-toggler.collapsed .header-close {
    display: block
}

.navbar-toggler:not(.collapsed) .header-open {
    display: block
}

.navbar-toggler:not(.collapsed) .header-close {
    display: none
}

.cst-get-in-tout-btn:hover::after {
    content: url('./assets/Images/Vector.svg');
    /* position: absolute; */
    right: 15px;
    /* Adjusted for the space */
    top: 38%;
    width: 20px;
    /* Adjust size as necessary */
    height: 20px;
    margin-left: 10px;
    /* Adds space after the image */
}

.cst-talk-on-wh-btn:hover::after {
    content: url('./assets/Images/Vector.svg');
    /* position: absolute; */
    right: 15px;
    /* Adjusted for the space */
    top: 38%;
    width: 20px;
    /* Adjust size as necessary */
    height: 20px;
    margin-left: 10px;
    /* Adds space after the image */
}

.hire-us-now-white-background:hover::after {
    content: url('./assets/Images/Vector.svg');
    /* position: absolute; */
    right: 15px;
    /* Adjusted for the space */
    top: 38%;
    width: 20px;
    /* Adjust size as necessary */
    height: 20px;
    margin-left: 10px;
    /* Adds space after the image */
    transition: all 0.3s ease;
}

.hire-us-now-white-background {
    color: #fff;
    background: #242424;
    border: 1px solid #242424;
    padding: 16px;
    border-radius: 0;
    text-align: center;
    font-family: "SF Pro";
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
    position: relative;
}


.about-design-section .card:hover h2::after {
    content: url('./assets/Images/rightArrow.svg');
    float: inline-end;
    align-items: center;
}

.hire-us-now-white-background:hover {
    background: #fff;
    color: #242424;
    border: 1px solid #fff;
    font-weight: 400;
}

.display-founder-images h4 {
    color: #242424;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

.display-founder-images span {
    color: #4E4E4E;
    text-align: center;
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.display-founder-images .text-center {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.display-founder-images .text-center img {
    transition: transform 0.3s ease;
    width: 100%;
}

.display-founder-images .text-center:hover img {
    transform: scale(1.05);
}

.display-founder-images .text-center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.display-founder-images .text-center:hover::before {
    background-color: rgba(255, 255, 255, 0.8);
}

.display-founder-images .text-center h4,
.display-founder-images .text-center span {
    position: relative;
    z-index: 2;
}

.display-founder-images .visit-linkedin {
    opacity: 0;
    position: absolute;
    bottom: 86px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-decoration: none;
    transition: 0.3s ease;
    color: #0B66C2;
    font-family: "SF Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

.display-founder-images .text-center:hover .visit-linkedin {
    opacity: 1;
}

.cst-style-list {
    list-style: decimal;
    margin-left: 40px;
    margin-top: 12px;
}

.border-color-footer {
    opacity: 0.2;
    background: #4E4E4E;
}

.service-page-hero-sec strong {
    font-weight: 900;
}

a.nav-link.active {
    text-decoration: underline;
    font-weight: 600;
}

a.nav-link.active::after {
    content: "";
    position: absolute;
    margin-left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.reset-anchor-tag{
     color: #000
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width:768px) {
    .hero-land h1 {
        color: #242424;
        text-align: center;
        font-family: "SF Pro";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: lowercase;
        margin-top: 40px
    }

    .service-page-hero-sec h1 {
        font-weight: 500
    }

    .companies-logo-section,
    .section-got-an-idea {
        height: auto
    }

    .hero-land p {
        font-size: 18px
    }

    .nav-item {
        margin: 0
    }

    .landing-page-hero-sec,
    .service-page-hero-sec {
        height: auto
    }

    .display-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 60px
    }

    .cst-div-width,
    .sec-bg h2,
    .sec-bg p {
        width: 100%;
        text-align: center
    }

    .display-contain-talk-expert {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-direction: column;
        text-align: center
    }

    .display-founder-images {
        display: flex;
        justify-content: center;
        gap: 60px;
        flex-direction: column;
        align-items: center
    }

    .sec-bg h2 {
        font-weight: 600
    }

    .faq-section h1 {
        font-size: 34px
    }

    .left-img-cst-df {
        height: 50vh
    }

    .desktop-image {
        display: none
    }

    .mobilelogo-image {
        display: block
    }

    .our-value-section h5 {
        width: 100%
    }

    .grid-container {
        gap: 8px
    }

    .cst-hight-hr {
        /* top: 12px */
    }

    .navbar-toggler .collapsed {
        background-color: transparent;
        border: 0
    }

    .contact-us-btn-cst {
        display: none
    }

    .navbar-collapse,
    .reserch-design-build-section h5,
    .reserch-design-build-section span {
        text-align: center
    }

    #navbarSupportedContent {
        margin-top: 40px
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    header .nav-item a:hover::after {
        position: relative;
    }

    a.nav-link.active::after {
        position: relative;
    }

    .grid-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
        padding: 10px;
        justify-content: center;
        margin-right: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
        padding: 10px;
        justify-content: center;
        margin: 0px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px;
    }
}